* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f55b;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  display: flex;
}

.list,
ul {
  list-style: none;
}

.list {
  display: flex;
}

.item {
  display: flex;
}

.board {
  padding: 0.5rem;
  box-shadow: 0 0 1px 1px #7378764d;
}

textarea {
  resize: vertical;
  width: 100%;
  border: none;
  box-shadow: 0 0 1px 1px #7378764d;
}

$map: (
  dragenter: #68fbc566,
);

@each $cls, $color in $map {
  .#{$cls} {
    background-color: $color;
  }
}
