.buttons-panel {
  &__content {
    display: flex;
    margin-top: 1rem;
  }

  &__list {
    width: 100%;
    gap: 1rem;

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
  }
}

.button {
  position: relative;
  padding: 0.3rem 0.6rem;
  background-color: #68fbc566;
  color: rgba(110, 110, 110, 0.438);
  cursor: pointer;
  border: none;
  border-radius: 0.1rem;
  box-shadow: 0 0 1px 1px #7378764d;
  transition: 0.15s;

  &:not(:disabled):hover {
    color: black;

    &::before {
      animation: 0.25s fromLeftToRight;
      opacity: 1;
      max-height: 0.1rem;
      height: 100%;
    }
  }

  &::before {
    position: absolute;
    content: '';
    bottom: -0.4rem;
    left: 0;
    width: 100%;
    background-color: #68fbc566;
    opacity: 0;
    transition: 0.15s;
  }
}

.button:disabled {
  background-color: initial;
  cursor: initial;
}
